In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("world_alcohol.txt")

In [3]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Manipulação de DataFrame

In [6]:
# qual a dimensão da tabela?
# R = linhas:100 e 50 colunas

In [29]:
# Quais são as colunas e seus respectvos tipos

In [7]:
# selecione as 2 primeiras linhas

In [8]:
# selecione 2 colunas

Filtros

In [14]:
# quantas observações existem na base para WHO region = Africa?
# R = 29

In [21]:
# quantas observações na coluna Display Value são nulas?
# R = 5

In [27]:
# Qual a o consumo de vinho em 1985 ?
# 12.91

Agrupamento

In [23]:
# Qual a o consumo de álcool por ano nas Americas (WHO region = Americas)
#1984|1.87
#1985|2.24
#1986|10.25
#1987|4.94
#1989|6.43

Joins

In [30]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

In [31]:
data1.head()

  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3

In [32]:
data2.head()

  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [34]:
# Faça um join utilizando como chave key1