In [1]:
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv('ufo.txt')
df.head()

,date,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,06-01-1910 15:00,wills point,tx,us,cigar,120,2 minutes,Cigar shaped object moving from West to East,04/16/2005,32.709167,-96.008056
1,06-11-1920 21:00,cicero,in,us,unknown,60,1 minute,((NUFORC Note: Probable hoax. Note date. PD...,05/12/2009,40.123889,-86.013333
2,07-05-1929 14:00,buchanan (or burns),or,us,disk,60,1min,we were traveling east of burns&#44clmbing up ...,08/16/2002,43.642500,-118.627500
3,06-01-1931 13:00,abilene,ks,us,disk,1800,30 min. approx.,This is a what my mother related to me regardi...,02/14/2006,38.917222,-97.213611
4,06-01-1939 20:00,waterloo,al,us,fireball,300,5 minutes,4 high school students see bright&#44 ground-l...,02/21/2014,34.918056,-88.064167

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             347 non-null    object
 1   city                             347 non-null    object
 2   state/province                   347 non-null    object
 3   country                          347 non-null    object
 4   UFO_shape                        347 non-null    object
 5   length_of_encounter_seconds      347 non-null    int64
 6   described_duration_of_encounter  347 non-null    object
 7   description                      347 non-null    object
 8   date_documented                  347 non-null    object
 9   latitude                         347 non-null    float64
 10  longitude                        347 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 29.9+ KB

In [4]:
# Note que o campo "date" e "date_documented" não foi carregado como um formato de data
# sendo assim, temos que transformar
df['date'] = pd.to_datetime(df['date'])
df['date_documented'] = pd.to_datetime(df['date_documented'])

In [5]:
# Note a diferença
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             347 non-null    datetime64[ns]
 1   city                             347 non-null    object
 2   state/province                   347 non-null    object
 3   country                          347 non-null    object
 4   UFO_shape                        347 non-null    object
 5   length_of_encounter_seconds      347 non-null    int64
 6   described_duration_of_encounter  347 non-null    object
 7   description                      347 non-null    object
 8   date_documented                  347 non-null    datetime64[ns]
 9   latitude                         347 non-null    float64
 10  longitude                        347 non-null    float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 29.9+ KB

In [6]:
# Qual a data máxima na base de dados (campo date)?

In [7]:
# Qual a data mínima da base de dados (campo date)?

In [8]:
# Quantos dias existem entre a data máxima e a data mínima?
# R = 34523

In [9]:
# crie uma coluna apenas com o ano

In [10]:
# crie uma coluna apenas com a data

In [20]:
# Quantas observações temos no ano de 2000
#R = 12

In [28]:
# Quantas anos únicas existem na base de dados?
# R = 68